<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin-2.min.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>



    <title><%=post.postid%></title>
    <style>
        .prettyprint ol.linenums>li {
            list-style-type: decimal;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- nav start-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="#">Game Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Store</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="/forum" data-toggle="dropdown">Forum</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- user -->
                            <a href="/forum/issues" class="dropdown-item">Issues</a>
                            <a href="/forum/reviews" class="dropdown-item">Reviews</a>
                            <a href="/forum/walkthroughs" class="dropdown-item">Walkthroughs</a>
                            <a href="/forum/gossiproom" class="dropdown-item">Gossip Room</a>
                            <!-- user -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- nav end -->

        <!-- breadcumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/forum">forum</a></li>
                <% if(post.status == 'pending') { %>
                <li class="breadcrumb-item"><a href="/forum/moderate">moderate</a></li>
                <li class="breadcrumb-item"><a href="/forum/moderate/pending">pending</a></li>
                <% }else if(reported_post == 'yes') { %>
                <li class="breadcrumb-item"><a href="/forum/moderate">moderate</a></li>
                <li class="breadcrumb-item"><a href="/forum/moderate/reported-post">reported-post</a></li>
                <% } else { %>
                <li class="breadcrumb-item"><a href="/forum/<%=post.posttype%>s"><%=post.posttype%>s</a></li>
                <% } %>
                <li class="breadcrumb-item active" aria-current="page"><%=post.postid%></li>
            </ol>
        </nav>
        <!-- breadcumb end -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-md-9">
                                on <span class="text-primary"><%=post.gamename%></span> by <span
                                    class="text-info"><%=post.username%></span>
                            </div>
                            <div class="col-md-3 text-md-right">
                                <%=post.time%>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title"><%=post.title%></h6>

                        <% if (post.codes != "") {%>

                        <pre class="prettyprint linenums"><%=post.codes%></pre>

                        <% } %>

                        <p class="card-text"><%=post.body%></p>
                    </div>
                    <div class="card-footer p-0">
                        <div class="row flex-nowrap justify-content-between no-gutters">
                            <div class="col-sm-4">
                                <button type="button"
                                    class="btn btn-light btn-lg btn-block rounded-0 text-success action-upvote"
                                    data-postid="<%=post.postid%>"><i class="fas fa-chevron-circle-up"></i>
                                    <span><%=post.upvote%></span></button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button"
                                    class="btn btn-light btn-lg btn-block rounded-0 border-left border-right text-danger action-downvote"
                                    data-postid="<%=post.postid%>"><i class="fas fa-chevron-circle-down"></i>
                                    <span><%=post.downvote%></span></button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-light btn-lg btn-block rounded-0 text-primary"
                                    data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% if((user.role=='enduser' || user.role == 'publisher') && user.username != post.username ){ %>
                                    <!-- user -->
                                    <button class="dropdown-item action-report-post" type="button"
                                        data-reporttype="spam">
                                        Report as Spam
                                        <span id="reportSpam"><i class="<%=post.reportSpam%>"></i></span>
                                    </button>
                                    <button class="dropdown-item action-report-post" type="button"
                                        data-reporttype="duplicate">
                                        Report as Duplicate
                                        <span id="reportSpam"><i class="<%=post.reportDuplicate%>"></i></span>
                                    </button>
                                    <button class="dropdown-item action-report-post" type="button"
                                        data-reporttype="wrongcategory">
                                        Report as Wrong Category
                                        <span id="reportSpam"><i class="<%=post.reportWrongCategory%>"></i></span>
                                    </button>
                                    <button class="dropdown-item action-report-post" type="button"
                                        data-reporttype="other">
                                        Report as Other
                                        <span id="reportSpam"><i class="<%=post.reportOther%>"></i></span>
                                    </button>
                                    <!-- user end -->
                                    <% }  else if(user.role == 'moderator' || user.role == 'admin') { %>
                                    <!-- moderator / admin -->
                                    <button class="dropdown-item" type="button" data-postid="<%=post.postid%>"
                                        id="delete">Delete</button>
                                    <button class="dropdown-item" type="button" data-postid="<%=post.postid%>"
                                        id="turnoff">Turn Off Comment</button>
                                    <!-- moderator / admin end -->
                                    <% } else { %>
                                    <!-- postmaker -->
                                    <button class="dropdown-item" type="button">Request to Delete</button>
                                    <!-- postmaker end -->
                                    <%}%>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- post start -->

        <!-- post end -->
        <% if(post.status == 'pending') { %>
                                    <div class="row mv-5">
                                        <div class="col-md-3">
                                            <form method="post">
                                                <input type="hidden" name="decision" value="declined">
                                                <button type="submit"
                                                    class="btn btn-block btn-danger mb-sm-3">Decline</button>
                                            </form>
                                        </div>
                                        <div class="col-md-3">
                                            <form method="post">
                                                <input type="hidden" name="decision" value="approved">
                                                <button type="submit"
                                                    class="btn btn-block btn-success mb-sm-3">Approve</button>
                                            </form>
                                        </div>
                                    </div>
                                    <% }  else { %>


                                    <div class="row">
                                        <% for(let i=0; i<comments.length; i++) { %>
                                        <!-- comment start -->
                                        <div class="col-md-12 mb-2">
                                            <div class="card">
                                                <div
                                                    class="card-header bg-light border border-light border-bottom-0 py-0 px-3">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <%=comments[i].username%>
                                                        </div>
                                                        <div class="col-md-3 text-md-right">
                                                            <%=comments[i].time%>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text"><%=comments[i].comment%></p>
                                                </div>
                                                <div class="card-footer p-0">
                                                    <div class="row flex-nowrap justify-content-between no-gutters">
                                                        <div class="col-sm-4">
                                                            <button type="button"
                                                                class="btn btn-light btn-sm btn-block rounded-0 text-success"><i
                                                                    class="fas fa-chevron-circle-up"></i>
                                                                <span><%=comments[i].upvote%></span></button>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button type="button"
                                                                class="btn btn-light btn-sm btn-block rounded-0 border-left border-right text-danger"><i
                                                                    class="fas fa-chevron-circle-down"></i>
                                                                <span><%=comments[i].downvote%></span></button>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button type="button"
                                                                class="btn btn-light btn-sm btn-block rounded-0 text-primary"
                                                                data-toggle="dropdown"><i
                                                                    class="fas fa-ellipsis-h"></i></button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <% if((user.role=='enduser' || user.role == 'publisher') && user.username != post.username ){ %>
                                                                <!-- user -->
                                                                <button class="dropdown-item action-report-comment"
                                                                    type="button" data-reporttype="spam"
                                                                    data-commentid="">
                                                                    Report as Spam
                                                                    <span><i class=""></i></span>
                                                                </button>
                                                                <button class="dropdown-item action-report-comment"
                                                                    type="button" data-reporttype="duplicate"
                                                                    data-commentid="">
                                                                    Report as Duplicate
                                                                    <span><i class=""></i></span>
                                                                </button>
                                                                <button class="dropdown-item action-report-comment"
                                                                    type="button" data-reporttype="other"
                                                                    data-commentid="">
                                                                    Report as Other
                                                                    <span><i class=""></i></span>
                                                                </button>
                                                                <!-- user end -->
                                                                <% }  else if(user.role == 'moderator' || user.role == 'admin') { %>
                                                                <!-- moderator / admin -->
                                                                <button class="dropdown-item"
                                                                    type="button">Delete</button>
                                                                <button class="dropdown-item" type="button">Turn Off
                                                                    Comment</button>
                                                                <!-- moderator / admin end -->
                                                                <% } else { %>
                                                                <!-- postmaker -->
                                                                <button class="dropdown-item" type="button">Request
                                                                    to
                                                                    Delete</button>
                                                                <!-- postmaker end -->
                                                                <%}%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- comment end -->
                                        <% } %>

                                                                <!-- comment box start -->
                                                                <% if(post.status != 'offcomment'){ %>
                                                                <div class="col-md-12">
                                                                    <form action="post">
                                                                        <div class="row mb-5">
                                                                            <div class="col-sm-12">

                                                                                <div class="form-group">
                                                                                    <label for="comment">Comment</label>
                                                                                    <textarea class="form-control"
                                                                                        id="comment" rows="4"
                                                                                        placeholder="type your comment..."></textarea>
                                                                                </div>

                                                                                <div
                                                                                    class="form-group d-flex justify-content-end">
                                                                                    <button type="reset"
                                                                                        class="btn btn-secondary mr-2">Clear</button>
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary">Submit</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <% } %>
                                                                <!-- comment box end -->
                                                            </div>

                                                            <% } %>

                                                        </div>

                                                        <script src="/jquery.min.js"></script>
                                                        <script src="/popper.min.js"></script>
                                                        <script src="/bootstrap.min.js"></script>

                                                        <% if((user.role=='enduser' || user.role == 'publisher') && user.username != post.username ){ %>
                                                        <!-- user -->
                                                        <script>
                                                            $('.action-report-post').click(function () {
                                                                const that = $(this);
                                                                data = {
                                                                    reporttype: $(this).data('reporttype'),
                                                                    postid: "<%=post.postid%>"
                                                                }

                                                                $.ajax({
                                                                    url: '/forum/report-post',
                                                                    method: 'POST',
                                                                    dataType: 'JSON',
                                                                    data: data,
                                                                    success: function (data) {
                                                                        if ('status' in data) {
                                                                            if (data.status == true) {
                                                                                $('.action-report-post span').html('');
                                                                                that.find('span').html("<i class='fas fa-check-circle'></i>");
                                                                            } else {

                                                                            }
                                                                        }
                                                                    },
                                                                });
                                                            });

                                                            $('.action-upvote').click(function () {
                                                                const that = $(this);
                                                                data = {
                                                                    postid: "<%=post.postid%>"
                                                                }
                                                                console.log(data);

                                                                $.ajax({
                                                                    url: '/forum/upvote-post',
                                                                    method: 'POST',
                                                                    dataType: 'JSON',
                                                                    data: data,
                                                                    success: function (data) {
                                                                        if ('status' in data) {
                                                                            if (data.status == true) {
                                                                                let c = parseInt(that.find('span').html());
                                                                                c += 1;
                                                                                that.find('span').html(c);
                                                                            } else {

                                                                            }
                                                                        }
                                                                    },
                                                                });
                                                            });
                                                            $('.action-downvote').click(function () {
                                                                const that = $(this);
                                                                data = {
                                                                    postid: "<%=post.postid%>"
                                                                }
                                                                console.log(data);

                                                                $.ajax({
                                                                    url: '/forum/downvote-post',
                                                                    method: 'POST',
                                                                    dataType: 'JSON',
                                                                    data: data,
                                                                    success: function (data) {
                                                                        if ('status' in data) {
                                                                            if (data.status == true) {
                                                                                let c = parseInt(that.find('span').html());
                                                                                c -= 1;
                                                                                that.find('span').html(c);
                                                                            } else {

                                                                            }
                                                                        }
                                                                    },
                                                                });
                                                            });

                                                            // $('.action-report-comment').click(function () {
                                                            //     const that = $(this);
                                                            //     data = {
                                                            //         reporttype: $(this).data('reporttype'),
                                                            //         postid: "<%=post.postid%>",
                                                            //         commentid: $(this).data('commentid')
                                                            //     }

                                                            //     console.log(data);
                                                            //     const commentid = $(this).data('commentid');

                                                            //     $.ajax({
                                                            //         url: '/forum/report-comment',
                                                            //         method: 'POST',
                                                            //         dataType: 'JSON',
                                                            //         data: data,
                                                            //         success: function (data) {
                                                            //             if ('status' in data) {
                                                            //                 if (data.status == true) {
                                                            //                     $(`.action-report-comment[data-commentid="${commentid}"] span`).html('');
                                                            //                     that.find('span').html("<i class='fas fa-check-circle'></i>");
                                                            //                 } else {

                                                            //                 }
                                                            //             }
                                                            //         },
                                                            //     });
                                                            // });
                                                        </script>
                                                        <!-- user end -->
                                                        <% }  else if(user.role == 'moderator' || user.role == 'admin') { %>
                                                        <!-- moderator / admin -->
                                                        <script>
                                                            $("#delete").click(function () {
                                                                if (confirm('Are you sure to delete this post?')) {
                                                                    $.ajax({
                                                                        url: '/forum/moderate/delete-post',
                                                                        method: 'POST',
                                                                        dataType: 'JSON',
                                                                        data: {
                                                                            postid: $(this).data('postid'),
                                                                        },
                                                                        success: function (data) {
                                                                            if ('status' in data) {
                                                                                if (data.status == true) {
                                                                                    window.location.href = "/forum";
                                                                                } else {

                                                                                }
                                                                            }
                                                                        },
                                                                    });
                                                                } else {

                                                                }

                                                            });
                                                            $("#turnoff").click(function () {
                                                                if (confirm('Are you sure to turm off comment for this post?')) {
                                                                    $.ajax({
                                                                        url: '/forum/moderate/turnoff-post',
                                                                        method: 'POST',
                                                                        dataType: 'JSON',
                                                                        data: {
                                                                            postid: $(this).data('postid'),
                                                                        },
                                                                        success: function (data) {
                                                                            if ('status' in data) {
                                                                                if (data.status == true) {
                                                                                    window.location.href = window.location.href;
                                                                                } else {

                                                                                }
                                                                            }
                                                                        },
                                                                    });
                                                                } else {

                                                                }

                                                            });
                                                        </script>
                                                        <!-- moderator / admin end -->
                                                        <% } else { %>
                                                        <!-- postmaker -->
                                                        <script>

                                                        </script>
                                                        <!-- postmaker end -->
                                                        <%}%>
                                


</body>

</html>